html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

button {
  outline: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.98) translateY(2px);
}

.todo__container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1440px;
  width: 80%;
}

.todo__main-title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  font-size: 54px;
  line-height: 1.2;
  color: darkblue;
}

.todo__form {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  padding: 45px 15px;
  width: 100%;
  border: 6px solid lightgreen;
  border-radius: 32px;
}

.todo__input,
.todo__btn {
  padding: 21px 27px;
  border-radius: 16px;
  border: 3px solid;
  font-size: 24px;
  font-weight: 600;
  transition: box-shadow 0.4s ease, border-color 0.3s ease,
    background-color 0.5s ease;
}

.todo__input {
  flex-grow: 1;
  outline: none;
  border-color: darkgreen;
  letter-spacing: 2px;
}

.todo__btn {
  border-color: lightblue;
  color: azure;
  background-color: darkblue;
}

.todo__btn:disabled {
  background-color: darkgray;
}

.todo__input:focus,
.todo__btn:focus {
  border-color: darkred;
}

.todo__input:focus {
  background-color: lightcyan;
}

.todo__btn:focus {
  background-color: blue;
}

@media screen and (min-width: 1024px) {
  .todo__input:hover,
  .todo__btn:hover {
    box-shadow: 1px 2px 3px 4px lightseagreen;
  }
}

.todo__list {
  padding: 18px 12px;
  width: 100%;
  min-height: 300px;
  max-height: 50vh;
  overflow: auto;
  border: 2px inset fuchsia;
  border-radius: 16px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.5px;
  background-color: lightcyan;
}

.todo__item,
.todo__wrapBtnItem {
  display: flex;
}

.todo__item {
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 13px 21px;
  border-bottom: 2px groove black;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 6px 6px -3px rgba(48, 25, 52, 0.8);
}

.todo__item.done > span {
  text-decoration: line-through;
  font-style: italic;
  font-weight: 400;
}

.todo__item.done,
.todo__item.done > span {
  background-color: #d3d3d3;
}

.todo__item:not(:last-child) {
  margin-bottom: 9px;
}

.todo__wrapBtnItem {
  gap: 6px;
}

.todo__done,
.todo__delete {
  padding: 9px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  color: white;
  transition: background-color 0.2s ease, box-shadow 0.4s ease-in-out,
    outline 0.2s linear;
}

.todo__done {
  background-color: #4caf50;
}

.todo__delete {
  background-color: #f44336;
}

.todo__done:focus,
.todo__delete:focus {
  outline: 3px solid;
  outline-offset: 2px;
}

.todo__done:focus {
  outline-color: #8fcd82;
}

.todo__delete:focus {
  outline-color: #f79993;
}

@media screen and (min-width: 1024px) {
  .todo__done:hover {
    background-color: #45a049;
    box-shadow: 0 4px 12px rgba(69, 160, 73, 0.6);
  }

  .todo__delete:hover {
    background-color: #da281e;
    box-shadow: 0 4px 12px rgba(218, 40, 30, 0.6);
  }
}

.todo__done:active {
  background-color: #3e8e41;
}

.todo__delete:active {
  background-color: #b32718;
}

.todo__error {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 800;
  color: red;
}

@media screen and (max-width: 880px) {
  .todo__container {
    width: 100%;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 768px) {
  .todo__main-title {
    margin-bottom: 25px;
    font-size: 34px;
  }

  .todo__form {
    position: relative;
    flex-direction: column;
    padding: 10px 15px;
  }

  .todo__input,
  .todo__btn {
    font-size: 18px;
  }

  .todo__list {
    padding: 5px;
    font-size: 16px;
  }

  .todo__item {
    flex-direction: column;
    padding: 7px;
  }
}
